<h1 class="title">Users</h1>

<small class="add-edit-record"><%= link_to("Add new user",new_user_path) %></small>

<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th>Role</th>
    <th>Email</th>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
