<h1 class="title">Users</h1>

<small class="add-edit-record"><%= link_to new_user_path do %>
                                 <i class="fas fa-user-plus fa-2x"></i>
                               <% end %></small>

<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th>Role</th>
    <th>Email</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
