
  <li class="nav-item"<%= link_to 'My Projects', user_projects_path(current_user), class: 'nav-link' %></li>
  <li class="nav-item"><%= link_to 'My Tickets', user_tickets_path(current_user), class: 'nav-link' %></li>
  <li class="nav-item"><%= link_to 'My Profile', user_path(current_user), class: 'nav-link' %></li>
  <li class="nav-item"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
