<div class="homepage">
  <div class="welcome-container">
    <div>
      <div id="main-icon" style="font-size: 1rem; color: DarkGreen">
        <i class="fad fa-ballot-check"></i>
      </div>
      <h1 class="display-5">Welcome to Ticket Manager</h1>
      <h6><em>A way to keep track of your IT projects' issues and bugs!</em></h6>
    </div>
  </div>
</div>
