<h1>Tickets</h1>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Status</th>
        <th scope="col">Category</th>
        <th scope="col">Priority</th>
        <th scope="col">Lead Developer</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <%= render @tickets %>
    </tbody>
  </table>
</div>
