<h1>Projects</h1>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Project Manager</th>
        <th scope="col">Lead Developer</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <%= render @projects %>
    </tbody>
  </table>
</div>
