// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
div.homepage {
  padding-bottom: 10%;
  padding-top: 2.5%;
}

div#main-icon,
h1.display-5, h6 {
  text-align: center;
}
